<h3><center>Relaciones de Usuarios Activos</center></h3>
<br />
<div class="row">
    <InputRadioGroup @bind-Value="sAccion"> 
        <div class="col-md-3 d-flex align-items-center">
            <InputRadio Value="Accion.TodosUsuarios" /><label style="margin: 5px">Todos los Usuarios</label>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <InputRadio Value="Accion.SinEquiposAsignados" /><label style="margin: 5px">Todos los Usuarios sin Equipos Asignados</label>
        </div><br /><br />
        <div class="col-md-3 d-flex align-items-center">
        <button class="btn btn-success" style="width: 100px; margin-left: 60px;">
            <i class="bi bi-search"></i>Buscar
        </button>
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <InputRadio Value="Accion.PorUsuario" /><label style="margin: 5px">Por Usuario</label>
            <input type="text" class="form-control ml-2" @bind="TxtBusqUser" disabled="@(!IsPorUsuario)" style="width: 180px; height: 30px; margin-left: 36px;" />
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <InputRadio Value="Accion.PorNombreUsuario" /><label style="margin: 5px">Por Nombre de Usuario</label>
            <input type="text" class="form-control ml-2" @bind="TxtBusqNomUser" disabled="@(!IsPorNombreUsuario)" style="width: 300px; height: 30px; margin-left: 36px;" />
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <InputRadio Value="Accion.PorEstacion" /><label style="margin: 5px">Por Estacion</label>
            <input type="text" class="form-control ml-2" disabled="@(!IsPorEstacion)" style="width: 180px; height: 30px;  margin-left: 30px;" />
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <InputRadio Value="Accion.PorCentroCosto" /><label style="margin: 5px">Por Centro de Costo</label>
            <input type="text" class="form-control ml-2" disabled="@(!IsPorCentroCosto)" style="width: 100px; height: 30px; margin-left: 57px;" />
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <InputRadio Value="Accion.PorTrabajador" /><label style="margin: 5px">Por Trabajador</label>
            <input type="text" maxlength="3" class="form-control" disabled="@(!IsPorTrabajador)" style="width: 60px; height: 30px; margin-left: 15px;" />
            <input type="text" maxlength="1" class="form-control" disabled="@(!IsPorTrabajador)" style="width: 40px; height: 30px; margin-left: 5px;" />
            <input type="text" maxlength="4" class="form-control" disabled="@(!IsPorTrabajador)" style="width: 70px; height: 30px; margin-left: 5px;" />
        </div>
        <div class="col-md-7 d-flex align-items-center">
        <InputRadio Value="Accion.PorDepartamentoArea" /><label style="margin: 5px">Por Departanmento y Area</label>
            <input type="text" class="form-control" disabled="@(!IsPorDepartamentoArea)" style="width: 100px; height: 30px; margin-left: 15px;" />
            <input type="text" class="form-control" disabled="@(!IsPorDepartamentoArea)" style="width: 195px; height: 30px; margin-left: 5px;" />
        </div>
        <div class="col-md-5 d-flex align-items-center">
        <InputRadio Value="Accion.PorUsuarioWindows" /><label style="margin: 5px; width: 115px; display: inline-block;">Por Usuario de Windows</label>
            <input type="text" class="form-control ml-2" disabled="@(!IsPorUsuarioWindows)" style="width: 180px; height: 30px; margin-left: 5px;" />
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <input type="text" class="form-control" disabled="@(!IsPorDepartamentoArea)" style="width: 100px; height: 30px; margin-left: 230px;" />
            <input type="text" class="form-control" disabled="@(!IsPorDepartamentoArea)" style="width: 195px; height: 30px; margin-left: 5px;" />
        </div>
        </InputRadioGroup>

</div><br />
    <table class="table">
        <thead>
            <tr>
            <th>Codigo</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Windows</th>
            <th>Estaciones</th>
            <th>Anexo</th>
            </tr>
        </thead>
        @* <tbody>
            @foreach (var data  in ListSeg_User){
            <tr>
                <td>@data.cod_usuario</td>
                <td>@data.Nom_usuario</td>
                <td>@data.Email</td>
                <td>@data.User_Wiundows</td>
                <td>@data.Estaciones</td>
                <td>@data.Anexo_Tlf</td>
            </tr>
        }
        </tbody> *@
    </table>
@code {
    public List<Seg_UserCLS> ListSeg_User { get; set; }
    private Accion sAccion = Accion.TodosUsuarios;
    public enum Accion
    {
        TodosUsuarios = 1, SinEquiposAsignados, PorUsuario, PorNombreUsuario, PorEstacion, 
        PorCentroCosto, PorTrabajador, PorDepartamentoArea, PorUsuarioWindows
    }
    public enum Opciones
    {
        Opcion1,
        Opcion2,
        Opcion3
    }

    private string TxtBusqUser { get; set; } = string.Empty;
    private string TxtBusqNomUser { get; set; } = string.Empty;
    private string TxtBusqEsta { get; set; } = string.Empty;
    private string TxtBusqCenCost { get; set; } = string.Empty;
    private string TxtBusqTra { get; set; } = string.Empty;
    private string TxtBusqDepArea { get; set; } = string.Empty;
    private string TxtBusqUserWin { get; set; } = string.Empty;

    private bool IsPorUsuario => sAccion == Accion.PorUsuario;
    private bool IsPorNombreUsuario => sAccion == Accion.PorNombreUsuario;
    private bool IsPorEstacion => sAccion == Accion.PorEstacion;
    private bool IsPorCentroCosto => sAccion == Accion.PorCentroCosto;
    private bool IsPorTrabajador => sAccion == Accion.PorTrabajador;
    private bool IsPorDepartamentoArea => sAccion == Accion.PorDepartamentoArea;
    private bool IsPorUsuarioWindows => sAccion == Accion.PorUsuarioWindows;

    private void OnAccionChanged(Accion nuevaAccion)
    {
        if (sAccion != nuevaAccion)
        {
            sAccion = nuevaAccion;
            LimpiarCampos();
        }
    }

    private void LimpiarCampos()
    {
        if (!IsPorUsuario) TxtBusqUser = string.Empty;
        if (!IsPorNombreUsuario) TxtBusqNomUser = string.Empty;
        if (!IsPorEstacion) TxtBusqEsta = string.Empty;
        if (!IsPorCentroCosto) TxtBusqCenCost = string.Empty;
        if (!IsPorTrabajador) TxtBusqTra = string.Empty;
        if (!IsPorDepartamentoArea) TxtBusqDepArea = string.Empty;
        if (!IsPorUsuarioWindows) TxtBusqUserWin = string.Empty;
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();   
    }

    private async Task CargaList()
    {
        await Task.CompletedTask;
    }

    


}
